:root {
  --section-color: #2f303a;
  --element-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
}
body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
ul {
  list-style-type: none;
}

/* logo styling */
.logo {
  font-style: Raleway, sans-serif;
  font-weight: 700;
  size: 26px;
  line-height: 218%;
  letter-spacing: 3%;
  text-decoration: none;
}

.logo-first {
  color: var(--hover-color);
  letter-spacing: 3%;
}
.logo-second {
  color: #000000;
  letter-spacing: 3%;
}
.logo-second-down {
  color: #ffffff;
  letter-spacing: 3%;
}
.main-navigation a {
  text-decoration: none;
  font-style: Roboto, sams-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: 117.214%;
  color: var(--element-color);
}
.button-color:hover {
  color: #188ce8;
  cursor: pointer;
}
.button-color:active .contacts a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 117.214%;
  letter-spacing: 2%;
  color: var(--hover-color);
}
.nav-link:active .nav-link:focus .nav-link:hover .contacts a:hover {
  color: var(--hover-color);
}
.contact-link:active .contact-link:hover {
  color: var(--hover-color);
}
.first-section {
  height: 600px;
}
.global-header .main-navigation a:hover {
  color: var(--hover-color);
}
/* title */
.first-section {
  font-weight: 900;
  size: 44px;
  line-height: 428.571%;
  letter-spacing: 6%;
  background-color: var(--section-color);
  color: #ffff;
  text-align: center;
}
.request-button {
  color: #ffff;
  background-color: #188ce8;
  font-weight: 700;
  size: 16px;
  line-height: 214.286%;
  cursor: pointer;
}
.request-button:active
/* Team Qualities */
.description-title {
  font-weight: 700;
  size: 14px;
  line-height: 16.41px;
  color: var(--element-color);
}
.description-text {
  font-weight: 400;
  size: 14px;
  line-height: 117.214%;
  color: var(--text-color);
}
/* What we do */
.section-title {
  font-weight: 700;
  size: 36px;
  line-height: 301.357%;
  text-align: center;
  color: var(--element-color);
}
/* Our Team */
.footer-main {
  background-color: #f5f4fa;
}
.team-member-name {
  font-weight: 500;
  size: 16px;
  line-height: 133.929%;
  text-align: center;
  color: var(--element-color);
}
.team-job {
  font-weight: 400;
  size: 16px;
  line-height: 133.929%;
  color: var(--text-color);
  text-align: center;
}

.footer {
  background-color: var(--section-color);
}
.info a {
  font-weight: 400;
  size: 14px;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
/* PORTOFOLIO */
.portfolio-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.85;
  font-family: inherit;
}
.portfolio-buttons:hover {
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
}
.portfolio-buttons:active,
.portfolio-buttons:focus {
  background-color: var(--hover-color);
  color: #ffff;
}

/* Styling buttons */
.styling-button {
  background-color: var(--hover-color);
  color: #ffffff;
}

/* Styling Portofolio Section */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 257.143%;
  color: var(--element-color);
}
.project-type {
  font-size: 16px;
  line-height: 214.286%;
  color: var(--text-color);
}
